body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    overflow-x: hidden;
}
a {
color: white;
}
img {
    width: 520px;
    height: 330px;
}
#regcaption {
opacity: 45%;
text-align: center;
}
#title {
    text-align: center;
    font-size: 50px;
}
#general {
    text-align: left;
}
#development {
    text-align: left;
}
.howimade {
display: flex;
flex-direction: row;
justify-content: center;
}
#imageshowcase {

}

/*
body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
a {
color: white;
}
img {
    width: 520px;
    height: 330px;
}
#title {
    text-align: center;
    font-size: 50px;
}
#general {
    text-align: left;
}
#development {
    text-align: left;
}
.howimade {
display: flex;
flex-direction: row;
justify-content: center;
}
#imageshowcase {

}
Remeber this is the format u want
*/