body {
    background-color: black;
    overflow-x: hidden;
}
h1 {
    color: white;
    font-family:monospace;
    text-align: center;
    letter-spacing: 15px;
    position: relative;
    top: 190px;
    font-weight: 15px;
}
figcaption {
    opacity: 45%;
    font-family:monospace;
    text-align: center;
    position: relative;
    top: 175px;
    color: white;
}
.buttonList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    color: white;
    position: relative;
    top: 195px;
    font-family: monospace;
    font-size: 25px;
}
a {
    color: white;
     text-decoration: none;
}
.button {
    border-style: groove;
    border-width: 10px;
    border-color: white;
}
.button:hover {
    background-color: white;
    color:black;
}
.section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 350px;
    height: 85px;
    column-count: 2;
    z-index: 0;
    position: relative;
    top: 220px;
    
}

.line1 {
border-color: white;
    border-style: solid;
    background-color: white;
    border-width: 0.1;
    animation-name: rainAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.line2 {
border-color: white;
    border-style: solid;
    background-color: white;
    border-width: 0.1;
    animation-name: rainAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.line3 {
    border-color: white;
    border-style: solid;
    background-color: white;
    border-width: 0.1;
    animation-name: rainAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/*Animations go here*/
@keyframes rainAnimation {
    0% {
       height: 75px;
    }
    5% {
       height: 65px;
    }
    10% {
        height: 55px;
        border-color:red;
        background-color: red;
    }
    15% {
        height: 45px;
    }
    20% {
        height:35px;
    }
    25% {
        height:25px;
    }
    30% {
        height: 15px;
    }
    35% {
        height: 5px;
    }
    40% {
        height: 0px;
    }
    45% {
        height: 5px;
    }
    50% {
        height: 15px;
    }
    55% {
        height: 25px;
    }
    60% {
        height: 35px;
    }
    65% {
        height: 45px;
    }
    70% {
        height: 55px;
        border-color: white;
        background-color: white;
    }
    75% {
        height: 65px;
        border-color:red;
        background-color: red;
    }
    80% {
        height: 75px;
    }
    
}

